Repository kakao-tech-campus-2nd-step3/Team29_Android, pull requests merged in 2024-09, with the labels that each got.

#12 Chore: .gitignore 수정
  .idea/render.experimental.xml
  core/data/src/main/java/com/iguana/data/remote/api/login_api.kt
  core/designsystem/.gitignore
  core/designsystem/src/main/res/drawable/nav_active_background.xml
  core/designsystem/src/main/res/drawable/stt_box_background.xml
  core/designsystem/src/main/res/layout-land/activity_dash_board_sample.xml
  core/designsystem/src/main/res/layout-land/activity_login_sample.xml
  core/designsystem/src/main/res/values/attrs.xml
Labels: ⚙️ Chore

#13 [Chore] 빌드 로직 수정 & 라이브러리 통합
  .idea/deploymentTargetDropDown.xml
  app/build.gradle.kts
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/com/iguana/notai/HiltKotlin.kt
  build-logic/src/main/kotlin/com/iguana/notai/KotlinAndroid.kt
  build.gradle.kts
  core/data/build.gradle.kts
  core/data/src/androidTest/java/com/iguana/data/ExampleInstrumentedTest.kt
  core/data/src/main/java/com/iguana/data/di/DataModule.kt
  core/data/src/main/java/com/iguana/data/local/db/SharedPreferencesHelperImpl.kt
  core/data/src/main/java/com/iguana/data/remote/api/.gitkeep
  core/data/src/main/java/com/iguana/data/remote/api/LoginApi.kt
  core/data/src/main/java/com/iguana/data/remote/api/login_api.kt
  core/data/src/main/java/com/iguana/data/repository/.gitkeep
  core/data/src/main/java/com/iguana/data/repository/LoginRepositorylmpl.kt
  core/data/src/test/java/com/iguana/data/ExampleUnitTest.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/androidTest/java/com/iguana/designsystem/ExampleInstrumentedTest.kt
  core/domain/build.gradle.kts
  core/domain/src/main/java/com/iguana/domain/repository/.gitkeep
  core/domain/src/main/java/com/iguana/domain/repository/LoginRepository.kt
  core/domain/src/main/java/com/iguana/domain/repository/SharedPreferencesHelper.kt
  core/domain/src/test/java/com/iguana/domain/ExampleUnitTest.kt
  core/ui/build.gradle.kts
  core/ui/src/androidTest/java/com/iguana/ui/ExampleInstrumentedTest.kt
  core/ui/src/main/java/com/iguana/ui/test.kt
  core/ui/src/test/java/com/iguana/ui/ExampleUnitTest.kt
  feature/ai/build.gradle.kts
  feature/ai/src/androidTest/java/com/iguana/ai/ExampleInstrumentedTest.kt
  feature/ai/src/test/java/com/iguana/ai/ExampleUnitTest.kt
  feature/community/build.gradle.kts
  feature/community/src/test/java/com/iguana/community/ExampleUnitTest.kt
  feature/dashBoard/build.gradle.kts
  feature/dashBoard/src/androidTest/java/com/iguana/dashboard/ExampleInstrumentedTest.kt
  feature/documents/build.gradle.kts
  feature/documents/src/androidTest/java/com/iguana/documents/ExampleInstrumentedTest.kt
  feature/documents/src/test/java/com/iguana/documents/ExampleUnitTest.kt
  feature/favorites/build.gradle.kts
  feature/favorites/src/test/java/com/iguana/favorites/ExampleUnitTest.kt
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/iguana/login/LoginActivity.kt
  feature/login/src/main/java/com/iguana/login/LoginViewModel.kt
  feature/login/src/main/res/layout/activity_login.xml
  feature/login/src/test/java/com/iguana/login/ExampleUnitTest.kt
  feature/notetaking/build.gradle.kts
  feature/notetaking/src/test/java/com/iguana/notetaking/ExampleUnitTest.kt
  feature/settings/build.gradle.kts
  feature/settings/src/test/java/com/iguana/settings/ExampleUnitTest.kt
  feature/userInfo/build.gradle.kts
  feature/userInfo/src/test/java/com/iguana/userinfo/ExampleUnitTest.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ⚙️ Chore

#20 [Feat] BaseActivity 제작
  .idea/deploymentTargetDropDown.xml
  core/designsystem/src/main/res/drawable/ic_user_selector.xml
  core/ui/build.gradle.kts
  core/ui/src/main/AndroidManifest.xml
  core/ui/src/main/java/com/iguana/ui/BaseActivity.kt
  core/ui/src/main/java/com/iguana/ui/SideTabLayoutFragment.kt
  core/ui/src/main/java/com/iguana/ui/test.kt
  core/ui/src/main/res/layout-sw600dp/activity_base.xml
  core/ui/src/main/res/layout-sw600dp/fragment_side_tab_layout.xml
  core/ui/src/main/res/layout/activity_base.xml
  core/ui/src/main/res/layout/fragment_side_tab_layout.xml
  core/ui/src/main/res/values/strings.xml
  feature/dashBoard/build.gradle.kts
  feature/dashBoard/dashboard/.gitignore
  feature/dashBoard/dashboard/build.gradle.kts
  feature/dashBoard/dashboard/proguard-rules.pro
  feature/dashBoard/dashboard/src/androidTest/java/com/kakao/dashboard/ExampleInstrumentedTest.kt
  feature/dashBoard/dashboard/src/main/AndroidManifest.xml
  feature/dashBoard/dashboard/src/main/res/drawable-v24/ic_launcher_foreground.xml
  feature/dashBoard/dashboard/src/main/res/drawable/ic_launcher_background.xml
  feature/dashBoard/dashboard/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  feature/dashBoard/dashboard/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  feature/dashBoard/dashboard/src/main/res/mipmap-hdpi/ic_launcher.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-mdpi/ic_launcher.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xhdpi/ic_launcher.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  feature/dashBoard/dashboard/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  feature/dashBoard/dashboard/src/main/res/values-night/themes.xml
  feature/dashBoard/dashboard/src/main/res/values/colors.xml
  feature/dashBoard/dashboard/src/main/res/values/strings.xml
  feature/dashBoard/dashboard/src/main/res/values/themes.xml
  feature/dashBoard/dashboard/src/test/java/com/kakao/dashboard/ExampleUnitTest.kt
  feature/dashBoard/src/main/AndroidManifest.xml
  feature/dashBoard/src/main/res/values/strings.xml
  feature/login/build.gradle.kts
  feature/login/src/main/java/com/iguana/login/LoginActivity.kt
Labels: 🌟 Feat

#25 [Feat] File Selector 로 PDF 불러오기 기능 테스트
  .idea/deploymentTargetDropDown.xml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  core/designsystem/src/main/res/drawable/file_item_background.xml
  core/designsystem/src/main/res/layout-sw600dp/add_file_layout.xml
  feature/notetaking/build.gradle.kts
  feature/notetaking/src/main/AndroidManifest.xml
  feature/notetaking/src/main/java/com/iguana/notetaking/PdfViewerActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerViewModel.kt
  feature/notetaking/src/main/res/layout-land/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout-land/activity_sample_file_picker.xml
  feature/notetaking/src/main/res/layout-sw600dp/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout-sw600dp/activity_sample_file_picker.xml
  feature/notetaking/src/main/res/layout/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout/activity_sample_file_picker.xml
  feature/notetaking/src/main/res/layout/activity_sample_file_picker_view_model.xml
  feature/notetaking/src/main/res/values/strings.xml
Labels: 🌟 Feat

#28 [Design] 메인 대시보드 제작
  core/ui/build.gradle.kts
  core/ui/src/main/java/com/iguana/ui/BaseActivity.kt
  core/ui/src/main/java/com/iguana/ui/SideTabLayoutFragment.kt
  core/ui/src/main/res/layout-sw600dp/fragment_side_tab_layout.xml
  core/ui/src/main/res/layout/fragment_side_tab_layout.xml
  feature/dashBoard/build.gradle.kts
  feature/dashBoard/src/main/java/com/iguana/dashBoard/AiHistoryAdapter.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/AiHistoryFragment.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/DashBoardFragment.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/RecentFilesAdapter.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/RecentFilesFragment.kt
  feature/dashBoard/src/main/res/layout-sw600dp/fragment_ai_history.xml
  feature/dashBoard/src/main/res/layout-sw600dp/fragment_dash_board.xml
  feature/dashBoard/src/main/res/layout-sw600dp/fragment_recent_files.xml
  feature/dashBoard/src/main/res/layout/fragment_ai_history.xml
  feature/dashBoard/src/main/res/layout/fragment_dash_board.xml
  feature/dashBoard/src/main/res/layout/fragment_recent_files.xml
  feature/dashBoard/src/main/res/layout/item_ai_history.xml
  feature/dashBoard/src/main/res/layout/item_recent_files.xml
Labels: 🎨 Design

#30 [Design] 필기 화면 XML 구성
  core/designsystem/src/main/res/values-night/styles.xml
  core/designsystem/src/main/res/values/colors.xml
  core/designsystem/src/main/res/values/styles.xml
  feature/notetaking/build.gradle.kts
  feature/notetaking/src/main/AndroidManifest.xml
  feature/notetaking/src/main/java/com/iguana/notetaking/AiFragment.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/NotetakingActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/PDFBoxActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/PdfViewerActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/PdfViewerFragment.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/PdfViewerViewModel.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/RecordFragment.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerViewModel.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SideBarFragment.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SideBarViewModel.kt
  feature/notetaking/src/main/res/drawable/sidebar_background.xml
  feature/notetaking/src/main/res/drawable/title_appbar_background.xml
  feature/notetaking/src/main/res/drawable/toobar_background.xml
  feature/notetaking/src/main/res/layout-land/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout-sw600dp/activity_notetaking.xml
  feature/notetaking/src/main/res/layout-sw600dp/activity_pdfbox.xml
  feature/notetaking/src/main/res/layout-sw600dp/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout-sw600dp/titlebar.xml
  feature/notetaking/src/main/res/layout-sw600dp/toolbar.xml
  feature/notetaking/src/main/res/layout/activity_notetaking.xml
  feature/notetaking/src/main/res/layout/activity_pdfbox.xml
  feature/notetaking/src/main/res/layout/activity_pdfviewer.xml
  feature/notetaking/src/main/res/layout/ai_tab.xml
  feature/notetaking/src/main/res/layout/fragment_pdf_viewer.xml
  feature/notetaking/src/main/res/layout/fragment_side_bar.xml
  feature/notetaking/src/main/res/layout/record_tab.xml
  feature/notetaking/src/main/res/layout/titlebar.xml
  feature/notetaking/src/main/res/layout/toolbar.xml
  feature/notetaking/src/main/res/values/strings.xml
  feature/notetaking/src/main/res/values/styles.xml
  gradle/libs.versions.toml
Labels: 🎨 Design

#38 Feat: PDF 파일 Room DB 에 저장
  .idea/deploymentTargetDropDown.xml
  app/src/main/AndroidManifest.xml
  core/data/src/main/java/com/iguana/data/di/DataModule.kt
  core/data/src/main/java/com/iguana/data/local/dao/RecentFileDao.kt
  core/data/src/main/java/com/iguana/data/local/db/.gitkeep
  core/data/src/main/java/com/iguana/data/local/db/AppDatabase.kt
  core/data/src/main/java/com/iguana/data/local/db/SharedPreferencesHelperImpl.kt
  core/data/src/main/java/com/iguana/data/local/entity/.gitkeep
  core/data/src/main/java/com/iguana/data/local/entity/RecentFileEntity.kt
  core/data/src/main/java/com/iguana/data/local/repository/RecentFileRepository.kt
  core/data/src/main/java/com/iguana/data/mapper/RecentFileMapper.kt
  core/data/src/main/java/com/iguana/data/repository/LoginRepositorylmpl.kt
  core/data/src/main/java/com/iguana/data/repository/RecentFileRepositoryImpl.kt
  core/domain/build.gradle.kts
  core/domain/src/main/java/com/iguana/domain/model/RecentFile.kt
  core/domain/src/main/java/com/iguana/domain/repository/RecentFileRepository.kt
  core/domain/src/main/java/com/iguana/domain/usecase/LoginUsecase.kt
  core/domain/src/main/java/com/iguana/domain/usecase/SaveRecentFileUsecase.kt
  core/ui/src/main/java/com/iguana/ui/BaseActivity.kt
  feature/dashBoard/build.gradle.kts
  feature/dashBoard/src/androidTest/java/com/iguana/dashBoard/.gitkeep
  feature/dashBoard/src/androidTest/java/com/iguana/dashBoard/ExampleInstrumentedTest.kt
  feature/dashBoard/src/main/AndroidManifest.xml
  feature/dashBoard/src/main/java/com/iguana/dashBoard/AiHistoryAdapter.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/AiHistoryFragment.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/DashBoardFragment.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/DashBoardViewModel.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/RecentFilesAdapter.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/RecentFilesFragment.kt
  feature/dashBoard/src/main/java/com/iguana/dashBoard/RecentFilesViewModel.kt
  feature/dashBoard/src/main/res/layout-land/activity_dash_borad_fragment.xml
  feature/dashBoard/src/main/res/layout-sw600dp/activity_dash_borad_fragment.xml
  feature/dashBoard/src/main/res/layout/activity_dash_borad_fragment.xml
  feature/dashBoard/src/main/res/layout/fragment_recent_files.xml
  feature/dashBoard/src/main/res/values/themes.xml
  feature/dashBoard/src/test/java/com/iguana/dashBoard/ExampleUnitTest.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/NotetakingActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerActivity.kt
  feature/notetaking/src/main/java/com/iguana/notetaking/SampleFilePickerViewModel.kt
  feature/notetaking/src/main/res/layout-sw600dp/titlebar.xml
  feature/notetaking/src/main/res/layout/titlebar.xml
Labels: 🌟 Feat, ♻️ Refactor
